table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 300px;
}

th{
    background: lightgray;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

input[type="text"] {
    width: 200px;
}

input[type="date"] {
    width: 200px;
}